<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="./font.css">
    <link rel="stylesheet" href="./style.css">

    <title>Achare</title>
</head>

<body>

    <header id="nav">
        <a href="/" class="logo">
            <img src="./assets/image/logo.png" alt="">
        </a>



        <nav>
            <ul>
                <li>
                    <a href="/" :class="{ active: isActiveLink('/') }">
                        ثبت آدرس
                    </a>
                </li>
                <li>
                    <a href="/address.html" :class="{ active: isActiveLink('/address.html') }">
                        مشاهده آدرس‌ها
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main id="app">
        <h1 v-if="step === 1">ثبت آدرس</h1>
        <section class="form-container">
            <form @submit="submitForm">
                <div v-if="step === 1" class="form-1-container">
                    <div class="form-1">


                        <h3>لطفا مشخصات و آدرس خود را وارد کنید</h3>
                        <div class="inputs">

                        
                        <div>
                            <label for="name">نام</label>
                            <div class="input-container">
                                <input type="text" id="name" name="first_name" placeholder="محمد" required
                                    v-model="formData.name" @blur="validateName">
                                <div class="clear-input" @click="clearInput('name')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                        fill="none">
                                        <g clip-path="url(#clip0_7411_693)">
                                            <circle cx="8" cy="8" r="8" fill="#B6B6B6" />
                                            <path d="M4.5354 11.2991L11.6065 4.43296" stroke="white"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M11.6065 11.2992L4.5354 4.43311" stroke="white"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_7411_693">
                                                <rect width="16" height="16" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>
                                <p class="error-message" v-if="errors.name">{{ errors.name }}</p>
                            </div>
                        </div>
                        <div>
                            <label for="lastname">نام خانوادگی</label>
                            <div class="input-container">
                                <input type="text" id="lastname" name="last_name" placeholder="مثال: رضایی" required
                                    v-model="formData.lastname" @blur="validateLastname">
                                <div class="clear-input" @click="clearInput('lastname')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                        fill="none">
                                        <g clip-path="url(#clip0_7411_693)">
                                            <circle cx="8" cy="8" r="8" fill="#B6B6B6" />
                                            <path d="M4.5354 11.2991L11.6065 4.43296" stroke="white"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M11.6065 11.2992L4.5354 4.43311" stroke="white"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_7411_693">
                                                <rect width="16" height="16" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>
                                <p class="error-message" v-if="errors.lastname">{{ errors.lastname }}</p>

                            </div>
                        </div>
                        <div>
                            <label for="mobile">شماره تلفن همراه</label>
                            <div class="input-container">
                                <input type="text" id="mobile" @keydown="validateMobileNumber" maxlength="11"
                                    name="mobile" placeholder="مثال: 091212345687" required v-model="formData.mobile"
                                    @blur="validateMobile">
                                <div class="clear-input" @click="clearInput('mobile')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                        fill="none">
                                        <g clip-path="url(#clip0_7411_693)">
                                            <circle cx="8" cy="8" r="8" fill="#B6B6B6" />
                                            <path d="M4.5354 11.2991L11.6065 4.43296" stroke="white"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M11.6065 11.2992L4.5354 4.43311" stroke="white"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_7411_693">
                                                <rect width="16" height="16" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>
                                <p class="error-message" v-if="errors.mobile">{{ errors.mobile }}</p>

                            </div>
                        </div>
                        <div>
                            <label for="phone">شماره تلفن ثابت (اختیاری) <span>*با پیش شماره</span></label>
                            <div class="input-container">
                                <input type="text" id="phone" @keydown="validatePhoneNumber" name="phone"
                                    placeholder="مثال: 02144256780" v-model="formData.phone" @blur="validatePhone">
                                <div class="clear-input" @click="clearInput('phone')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                        fill="none">
                                        <g clip-path="url(#clip0_7411_693)">
                                            <circle cx="8" cy="8" r="8" fill="#B6B6B6" />
                                            <path d="M4.5354 11.2991L11.6065 4.43296" stroke="white"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M11.6065 11.2992L4.5354 4.43311" stroke="white"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_7411_693">
                                                <rect width="16" height="16" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>
                                <p class="error-message" v-if="errors.phone">{{ errors.phone }}</p>

                            </div>
                        </div>
                        <div class="address-input">
                            <label for="address">آدرس</label>
                            <div class="input-container">
                                <input type="text" id="address" name="address" required placeholder=""
                                    v-model="formData.address" @blur="validateAddress"  />
                                <div class="clear-input" @click="clearInput('address')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                        fill="none">
                                        <g clip-path="url(#clip0_7411_693)">
                                            <circle cx="8" cy="8" r="8" fill="#B6B6B6" />
                                            <path d="M4.5354 11.2991L11.6065 4.43296" stroke="white"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M11.6065 11.2992L4.5354 4.43311" stroke="white"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_7411_693">
                                                <rect width="16" height="16" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>
                                <p class="error-message" v-if="errors.address">{{ errors.address }}</p>

                            </div>
                        </div>

                        <div class="checkbox-container">
                            <label>جنسیت</label>

                            <label class="radio-label" for="female">
                                <input type="radio" id="female" value="female" name="gender" v-model="formData.gender">
                                <div class="radio-circle"></div>
                                خانم
                            </label>
                            <label class="radio-label" for="male">
                                <input type="radio" id="male" value="male" name="gender" v-model="formData.gender">
                                <div class="radio-circle"></div>
                                آقا
                            </label>
                        </div>
                    </div>
                        <div class="submit-container">
                            <span @click="nextStep">
                                ثبت و ادامه
                            </span>
                        </div>
                    </div>
                </div>
                <div v-show="step === 2" class="form-2">
                    <h1>
                        <button type="button" @click="prevStep">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path d="M4.5 12H19.5" stroke="#323232" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M13.5 6L19.5 12L13.5 18" stroke="#323232" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                        انتخاب آدرس

                       
                    </h1>
                    <div class="map-title ">
                        <h2 class="mobile">
                            انتخاب موقعیت
                        </h2>
                        <h2 class="desktop">
                            موقعیت مورد نظر خود را روی نقشه مشخص کنید
                        </h2>
                        <button type="button" @click="prevStep">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path d="M4.5 12H19.5" stroke="#323232" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M13.5 6L19.5 12L13.5 18" stroke="#323232" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                    <div id="map"></div>
                    <div class="submit-container">
                        <span @click="handleSubmit">
                            ثبت و ادامه
                        </span>
                        <span class="loading-circles">
                            <span  v-for="n in 3">
                                <span class="dot"></span>
                            </span>
                        </span>
                    </div>

                </div>
                <div v-if="step === 3">
                    <div class="success-alert">
                        <img src="./assets/image/success.png" alt="">
                        <h2>اطلاعات شما با موفقیت ثبت شد</h2>
                        <a href="./address.html">
                            <span> مشاهده اطلاعات</span>
                        </a>
                    </div>
                </div>
            </form>



            
        </section>
    </main>



    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./app.js"></script>
</body>

</html>